<section class="modal__content--input">
  <h4><%= content.title %></h4>

  <form action='/main/console' method='post' id="file_formId" class='file__form' >

    <div class='file__form--checkbox'>
      <label for='subTitle' class="file__form--label"> <%= content.subTitle %> </label>

      <%- include( 'radioBtn', {
        opcoes: radioBtn
      }); %>

      <%- include( 'input', {
        type: 'file',
        id: 'chooseFile',
        extraClass: 'file__form--input',
        name: '',
        value: ''
      }); %>
 
      <%- include( 'button', {
        type: button.type,
        extraClass: button.extraClass,
        name: 'jsonData',
        value: button.value,
        id: button.id
      }); %>

    </div>
    
    <pre id='informationArea'>
      <p><%= infoArea  %></p>   
    </pre>
  
  </form>
</section>