<% if( projects.length > 0 ) { %>
  <ul class="project__list">
    <% projects.forEach( ( p ) => { %>
    <li class="project__list--content">
      <a href data-modal=#<%= p.title %> class="modal__trigger modal__content--size"> <%= p.title %> </a>

      <div id="<%= p.title %>" class="modal" role="dialog" aria-hidden="true">
        <div class="modal__dialog modal__content">
          <h1 class="modal__title"><%= p.title %></h1>
          <p> <%= p.description %> </p>

          <% if ( p.validations && p.validations.length > 0 ) { %>
          <ul>
            <% p.validations.forEach( ( v ) => { %>
            <li>
              <p> <%= v.title %> </p>
              <p> <%= v.info %> </p>
            </li>
            <% }) %>
          </ul>
          <% } %>

          <%- include( 'closePageIcon' ) %>
        </div>
      </div>
    </li>
    <% }) %>
  </ul>

  <% } else { %>
  <p class="projectNone"> Nenhum Projeto adicionado </p>
  <% }; %>