<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include( 'partials/head', {
    pageTitle: 'Console Web',
    styles: ['entry', 'components']
  } ) %>

</head>

<body>
  <header>

    <%- include( '../components/menu', {
      elements: [
        { ref: '/auth/logout', content: 'Sair'}
      ]
    }) %>

  </header>

  <aside class="sidebar__container">
    <%- include('../components/sideBar', {
      elements: [

        { title: 'Projetos', subMenu: [
          { item: 'Criar Novo', id: 'newProj' },
          { item: 'Visualizar', id: 'getProj' } ] },
      
        { title: 'Validações', subMenu: [ 
          { item: 'Nova Validação', id: 'newVal' },
          { item: 'Visualizar', id: 'getVal' },
          { item: 'Apagar', id: 'delVal' } ] },

        { title: 'Scripts', subMenu: [
          { item: 'Exemplos', id: 'getScripts' },
          { item: 'Novo', id: 'newScript' }] }
      ]

    }) %>
  </aside>

  <main>

    <section class="info">

      <%- include('../components/project', { projects: projects } ) %>

    </section>

  </main>

  <footer>
    <%- include( 'partials/footer' ) %>
  </footer>

  <%- include( 'partials/scripts', {
    scripts: ['entry']
  }) %>

</body>

</html>