<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include( 'partials/head', {
    pageTitle: 'Console Web',
    styles: ['operacao', 'components']
    }) %>
</head>

<body>
  <header>
   
    <%- include( '../components/menu', {
      elements: [
        { ref: '/main', content: 'Home' },
        { ref: '/auth/logout', content: 'Sair'}
      ]
    }) %>

  </header>

  <aside class="sidebar__container">
    <%- include('../components/sideBar', {
      elements: [

        { title: 'Projetos', subMenu: [
          { item: 'Criar Novo', id: 'newProj' },
          { item: 'Visualizar', id: 'getProj' } ] },
      
        { title: 'Validações', subMenu: [ 
          { item: 'Nova Validação', id: 'newVal' },
          { item: 'Visualizar', id: 'getVal' } ] },

        { title: 'Scripts', subMenu: [
          { item: 'Exemplos', id: 'getScripts' },
          { item: 'Novo', id: 'newScript' }] }
      ]

    }) %>
  </aside>

  <main>
    <section class='main__container' id="input">
      <%- include( '../components/inputDados', {
        content: {
          title: "Escolha entre as opções a seguir:",
          subTitle: "Tipo de Teste:"
        },
        radioBtn: [ 
          {titulo: 'Operação', name: 'inputData', value: 'transacao'},
          {titulo: 'Validação', name: 'inputData', value: 'validacao'}
        ],
        button: {
          type: 'submit',
          extraClass: 'button',
          value: 'submit',
          id: 'inputData'
        },
        infoArea: infoArea
      }) %>
    </section>
  </main>

  <section class='comprovante__container' id='comprovante__container' >
  </section>

  <section class='validacao__container' id='validacao__container'>
  </section>

  <footer>   
    <%- include( 'partials/footer' ) %>
  </footer>

  <%- include( 'partials/scripts', {
    scripts: ['operacao', 'components', 'sideBar']
  }) %>
  
</body>
</html>