<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include( 'partials/head', {
    pageTitle: 'Console Web',
    styles: [ 'passwordReset', 'components','login' ]
  }) %>
</head>


<body>

  <header>
    <%- include( '../components/menu', {
      elements: [
      { content: 'PgWebLib Console' }
      ]
    }) %>
  </header>

  <main>
    
    <%- include( '../components/info_callback', { type: type, info: info }  ) %>

    <section class="form">
      
       <%- include('../components/newPassword', { token: token } ) %>
      
    </section>

  </main>


  <footer>   
    <%- include( 'partials/footer' ) %>
  </footer>

  <%- include( 'partials/scripts', {
    scripts: ['components']
  }) %>

</body>
</html>


