<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include( 'partials/head', {
    pageTitle: 'Console Web',
    styles: ['project']
  } ) %>
</head>

<body>
  <header>

    <%- include( '../components/menu', {
      elements: [
        { ref: '/main', content: 'Home' },
        { ref: '/main/logout', content: 'Sair'}
      ]
    }) %>

  </header>

  <main>

    <section class="info">

      <div>

        <%- include('../components/anchor', {
          href: '',
          extraClass: 'modal__trigger',
          data: 'modal',
          content: '#modal',
          title: 'Verificar projetos existentes'
        }) %>

        <%- include('../components/anchor', {
          href: '',
          extraClass: 'modal__trigger',
          data: 'modal',
          content: '#modal2',
          title: 'Iniciar Validação'
        }) %>

      </div>

      <%- include( '../components/modal', {
          id: 'modal',
          title: 'Projeto',
          content: `Selfies normcore four dollar toast four loko listicle artisan. Hoodie Marfa authentic, wayfarers
          church-key tofu Banksy pop-up Kickstarter Brooklyn heirloom swag synth. Echo Park cray synth mixtape. Tofu
          gastropub squid readymade, trust fund Wes Anderson DIY PBR 8-bit try-hard +1 Shoreditch lo-fi tote bag.`
          
      }) %>

      <%- include( '../components/modal', {
        id: 'modal2',
        title: 'Validação',
        content: `Selfies normcore four dollar toast four loko listicle artisan. Hoodie Marfa authentic, wayfarers
        church-key tofu Banksy pop-up Kickstarter Brooklyn heirloom swag synth. Echo Park cray synth mixtape. Tofu
        gastropub squid readymade, trust fund Wes Anderson DIY PBR 8-bit try-hard +1 Shoreditch lo-fi tote bag.`

    }) %>

    </section>

  </main>

  <footer>
    <%- include( 'partials/footer' ) %>
  </footer>

  <%- include( 'partials/scripts', {
    scripts: ['project']
  }) %>

</body>

</html>