<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include( 'partials/head', {
    pageTitle: 'Console Web',
    styles: ['settings', 'components']
  }) %>

</head>

<body>
  <header>

    <%- include( '../components/menu', {
      elements: [
        { ref: '/main', content: 'Home' },
        { ref: '/settings', content: 'Ajustes' },
        { ref: '/auth/logout', content: 'Sair'}
      ]
    }) %>

  </header>

  <aside class="sidebar__container">
    <%- include('../components/sideBar', {
      elements: [

        { title: 'Projetos', subMenu: [
          { item: 'Criar Novo', id: 'newProj' },
          { item: 'Visualizar', id: 'getProj' } ] },
      
        { title: 'Validações', subMenu: [ 
          { item: 'Nova Validação', id: 'newVal' }
        ] },

        { title: 'Scripts', subMenu: [
          { item: 'Exemplos', id: 'getScripts' },
          { item: 'Novo', id: 'newScript' }] }
      ]

    }) %>
  </aside>

  <main>

    <section class="settings__container">

      <%- include('../components/setup', {
        tabs: [
          { title: 'PinPad', id: 'pinPad', extraClass: 'nav__items--active' },
          { title: 'Controle Remoto', id: 'remoteControl', extraClass: '' },
          { title: 'Servidor', id: 'server', extraClass: '' }
        ],
        tabContent: [
          { id: 'pinPad', extraClass: 'tab__container',  title: 'Configurações PinPad', route: '', content: [
            { label: 'Endereço Tcp', name: 'tcpIp' },
            { label: 'Porta', name: 'tcpPort' }
          ]},

          { id: 'remoteControl', extraClass: 'noshow',  title: 'Configurações Controle Remoto', route: '', content: [
            { label: 'Porta', name: 'remotePort' }
          ]},

          { id: 'server', extraClass: 'noshow',  title: 'Configurações Servidor', route: '', content: [
            { label: 'Endereço Host', name: 'serveHost' },
            { label: 'Porta', name: 'serverPort' }
          ]}
        ]
      }) %>

    </section>

  </main>

  <footer>
    <%- include( 'partials/footer' ) %>
  </footer>

  <%- include( 'partials/scripts', {
    scripts: ['sideBar','settings']
  }) %>

</body>

</html>