<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <%- include( 'partials/head', {
    pageTitle: 'Console Web',
    styles: ['validation', 'components']
    }) %>
</head>

<body>
  <header>
   
    <%- include( '../components/menu', {
      elements: [
        { ref: '/main', content: 'Home' },
        { ref: '/auth/logout', content: 'Sair'}
      ]
    }) %>

  </header>

  <main>

  <section class='validacao__container validacao__container--active' id='validacao__container'>

    <%- include('../components/table', { validacao: validacao } ) %>

  </section>

  <footer>   
    <%- include( 'partials/footer' ) %>
  </footer>

  <%- include( 'partials/scripts', {
    scripts: ['components']
  }) %>
  
</body>
</html>